html,body{
margin:0;
height:100%;
font-family:Arial;
}

#map{
position:absolute;
top:0;
right:0;
bottom:0;
left:300px;
}

.sidebar{
position:absolute;
left:0;
top:0;
bottom:0;
width:300px;
background:white;
padding:20px;
z-index:1000;
box-shadow:2px 0 8px rgba(0,0,0,0.2);
}

.sidebar select{
width:100%;
padding:8px;
margin-bottom:20px;
}

#coords{
position:absolute;
bottom:10px;
left:320px;
background:white;
padding:6px;
border-radius:5px;
font-size:12px;
z-index:1000;
}

.north{
position:absolute;
top:20px;
right:20px;
width:70px;
z-index:1000;
}